---
layout: default
---

<section class="bg-dark" id="contributors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 text-justify">
        <div class="contributors">
          <div class="contributors-boss">
            <div>
              <img src="{{ "/img/palestrantes/cynthiap.jpg" | prepend: site.baseurl }}" />
              <h2>Cynthia Pereira</h2>
              <em>Líder de Projeto</em>
            </div>
            <div>
              <img src="{{ "/img/palestrantes/cynthia.jpg" | prepend: site.baseurl }}" />
              <h2>Cynthia Zanoni</h2>
              <em>Fundadora e idealizadora</em>
            </div>
            <div>
              <img src="{{ "/img/palestrantes/geraldo.jpg" | prepend: site.baseurl }}" />
              <h2>Geraldo Barros</h2>
              <em>Líder de Projeto</em>
            </div>
          </div>

          {% for contrib in site.data.contributors %}
            <div class="ctn-contributors">
              <h2>{{ contrib.group }}</h2>
              {% for element in contrib.elements %}
                <p>{{ element.name }}</p>
              {% endfor %}
            </div>
      		{% endfor %}
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</section>
