<header>
    <div class="container">
        <h1 class="logo"><a href="/"><img src="{{ "/img/icon.png" | prepend: site.baseurl }}" width="50"/></a></h1>
        <i class="fa fa-bars toggle-menu"></i>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ "/sobre/" | prepend: site.baseurl }}">Sobre</a></li>
                <li><a href="{{ "/agenda/" | prepend: site.baseurl }}">Agenda</a></li>
                <li><a href="{{ "/contato/" | prepend: site.baseurl }}">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
